* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: #000000;
}
.leaflet-container {
    width: 100%;
    position: fixed;
    top: 75px;
    height: 80.5vh;
    z-index: 1;
}

.logo{
    margin-top: 5px;
    margin-left: 25px;
}
.header_line{
    width: 99.8%;
    margin-top: 3px;
    border: 1px solid #1C1C1E;
    box-shadow: -1px -1px 4px #48484A;
}
.footer{
    position: absolute;
    bottom: 5px;
    width: 99.8%;
}
.footer-line{
    margin-bottom: 8px;
    width: 99.8%;
    border: 1px solid #1C1C1E;
    box-shadow: -1px -1px 4px #48484A;
}
a {
    text-decoration: none;
}
.NavItem {
    color: #48484a !important;
}
.NavItem.Mui-selected {
    color: #ffd60a !important;
}
span.MuiBottomNavigationAction-label{
    font-size: 11px !important;
}

@media (max-width: 500px) {
    .logo_d{
        display: flex;
        justify-content: center;
    }
    .logo{
        margin-left: 0;
    }
}
@media (max-width: 380px) {
    .menu__el{
        margin-right: 26px;
    }
}
@media (max-width: 350px) {
    .menu__el {
        margin-right: 20px;
    }
    .menu__el:nth-last-child(2){
        margin-right: 16px;
    }
}