{%extends 'parserapp/base.html'%}

{%block title%}Buildings List{%endblock%}

{%block content%}
<div class="pl-2">
    <h1 class="text-7xl border-b pb-1 mb-4">{{city}}, {{street}} вулиця</h1>
    <a href="{%url 'city' city=city%}"><button class="p-2 rounded border mr-1">← Назад</button></a>
    <a href="{%url 'delete-confirm-street' city=city street=street%}"><button class="p-2 rounded border border-red-600 mb-6">Видалити вулицю</button></a>
    {%if buildings%}
        <h2 class="text-2xl text-center">Будівлі:</h2>
        <ul class="grid grid-cols-3 place-items-center">
            {% for building in buildings%}
                <li class="hover:text-blue-200 duration-200">{{building}}</li>
            {%endfor%}
        </ul>
    {%else%}
        <h1 class="message-error">There is none buildings from this street in database.</h1>
    {%endif%}
</div>
{%endblock%}
