{%extends 'parserapp/base.html'%}

{%block title%}Buildings List{%endblock%}

{%block content%}
<div class="pl-2">
    <h1 class="text-7xl border-b pb-1 mb-4">{{street.City}}, {{street.Name}} street</h1>
    <a href="{%url 'city' city_slug=city_slug%}"><button class="p-2 rounded border mr-1">← Previous</button></a>
    <a href="{%url 'delete-confirm-street' city_slug=city_slug street_slug=street_slug%}"><button class="p-2 rounded border border-red-600 mb-6">Delete street</button></a>
    {%if buildings%}
        <h2 class="text-2xl text-center">Buildings:</h2>
        <ul class="grid grid-cols-3 place-items-center">
            {% for building in buildings%}
                <li class="hover:text-blue-200 duration-200">{{building}}</li>
            {%endfor%}
        </ul>
    {%else%}
        <h1 class="message-error">There is none buildings on this street in database.</h1>
    {%endif%}
</div>
{%endblock%}
