{%extends 'parserapp/base.html'%}

{%block title%}Cities List{%endblock%}

{%block content%}
    {%if cities%}
        <h1 class="text-4xl text-center mb-4 border-b">Список міст</h1>
        <ul class="grid grid-cols-3 place-items-center">
            {% for city in cities%}
                <li class="text-lg hover:list-decimal hover:text-blue-200 duration-200"><a href="{%url 'city' city=city.City%}">{{city.City}}</a></li>
            {%endfor%}
        </ul>
    {%else%}
        <h1 class="message-error">Database is empty. There is none data about streets and cities</h1>
    {%endif%}
{%endblock%}
