{%extends 'parserapp/base.html'%}

{%block title%}Cities List{%endblock%}

{%block content%}
    {%if data%}
        <h1 class="text-4xl text-center mb-4 border-b">Cities:</h1>
        <ul class="grid grid-cols-3 place-items-center">
            {% for row in data%}
                <li class="text-lg hover:list-decimal hover:text-blue-200 duration-200">
                    <a href="{%url 'city' city_slug=row.slug%}">{{row.city.City}}</a>
                </li>
            {%endfor%}
        </ul>
    {%else%}
        <h1 class="message-error">Database is empty. There is none data about streets and cities</h1>
    {%endif%}
{%endblock%}
