{%extends 'parserapp/base.html'%}

{%block title%}Streets List{%endblock%}

{%block content%}
<div class="pl-2">
    <h1 class="text-7xl border-b pb-1 mb-4">{{city}}</h1>
    <a href="{%url 'start'%}"><button class="p-2 rounded border mr-1">← Назад</button></a>
    <a href="{%url 'delete' city=city%}"><button class="p-2 rounded border border-red-600 mb-6">Видалити місто</button></a>

    <ul class="grid">
        <li class="text-2xl">Вулиці:</li>
        {% for street in streets%}
            <li class="hover:text-blue-200 duration-200"><a href="{%url 'street' city=city street=street%}">{{street}}</a></li>
        {%endfor%}
    </ul>
</div>
{%endblock%}
