<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	{%load static%} 
	<link href="{% static 'parserapp/output.css'%}" rel="stylesheet"> 
</head>
<body class="bg-gray-900 text-gray-100/75 pl-2">
    {% if street == None %}
        <h2 class="text-2xl">Ви підтверджуєте, що збираєтесь <span class="text-red-500/75">назавжди видалити</span> місто {{city}}?</h2>
        <a href="{%url 'city' city=city%}"><button class="p-2 rounded border border-green-600 mb-6 mt-4 mr-2">Ні. Повернутись на попередню сторінку</button></a>
        <a href="{%url 'confirm-delete-city' city=city%}"><button class="p-2 rounded border border-red-600 mb-6">Так!</button></a>
    {% else %}
        <h2 class="text-2xl">Ви підтверджуєте, що збираєтесь <span class="text-red-500/75">назавжди видалити</span> вулицю {{street}}?</h2>
        <a href="{%url 'street' city=city street=street%}"><button class="p-2 rounded border border-green-600 mb-6 mt-4 mr-2">Ні. Повернутись на попередню сторінку</button></a>
        <a href="{%url 'confirm-delete-street' city=city street=street%}"><button class="p-2 rounded border border-red-600 mb-6">Так!</button></a>
    {%endif%}
</body>
</html>